body {
  background: #f2f2f2;
}

h1 {
  font-size: 2em;

}

li {
  color: orange;
}

table {
  font-family: "Arial Black", Gadget, sans-serif;
  th {
    font-size: 1.6em;
    color: #EFAAC4;
    background: #D4DCCD;
  }
  tr {
    text-align: center;
  }
}

input {
  display: block;
  margin-left: 100px;
  margin-top: 2px;
}

input:focus {
  border: 1px solid #333;
}

label {
  float: left;
  margin-right: 20px;
  text-align: right
}

Button {
  margin-top: 30px;
  margin: 10px;
}

.container {
  margin: 0 auto;
}


.recipes {
  display:flex;
  flex-flow: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 70px;
}

.form {
  flex-direction: column;
  margin: 5px auto;
}

.add {
  position: fixed;
  opacity: .9;
  font-weight: bold;
  top: 0px;
  left: 80px;
  height: 70px;
  width: 100px;
}

.recipes > div {
  // display: flex;
  flex-basis: 200px;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  border: solid black 1px;
}
